.project {
  background-color: #ccc;
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 10px;
  max-width: 600px;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.project h2 {
  font-size: 24px;
  margin: 5px;
  color: #000;
}

.project p {
  font-size: 16px;
  margin: 5px;
  color: #000;
}

.project .fadeText {
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.project:hover .fadeText {
  opacity: 1;
}

.github-link {
  display: inline-block;
  margin-top: 10px;
}

.github-logo {
  width: 32px;
  height: 32px;
}